@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="root"></div>
    <h1 class="display-4">Your Movie and Actor Exploration Hub</h1>
    <p>Discover movies, delve into actor profiles, and analyze the buzz with Wikipedia and sentiment analysis.</p>
</div>


